.home-page-container {
    background-image: url('../Assest/homeimg.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 800px;
  }
 .Text-container{
    padding: 3%;
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }