/* Navbar.css */

.Navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0818a5; /* Dark background for the navbar */
}

.Navbar-container img {
  height: 75px;
  max-width: 100%;
}

.balance {
  margin: 0;
  padding: 0;
  color: #ccff00; /* Green color for balance */
}

.Nav-items {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between navbar items */
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.Nav-items li a {
  text-decoration: none;
  color: black; /* Light color for links */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.5s; /* Smooth background-color transition */
}

.Nav-items li a:hover {
  background-color: #ccff00; /* Darker background on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Navbar-container {
    flex-direction: column;
    padding: 10px;
  }

  .Nav-items {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Less space between navbar items on smaller screens */
  }

  .Nav-items li a {
    width: 100%; /* Full width links for easier click/tap targets */
    text-align: center;
  }

  .balance {
    margin-bottom: 20px; /* Add some space below the balance on smaller screens */
  }
}




