
.Operations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top:1%;
  background-color: #0818a5; 
  border-radius: 8px;
  box-shadow: 0 2px 24px #ccff00;
  max-width: 400px; 
   margin: auto; 
   margin-top: 5%;
  }
  
  .Operations-container input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); 
  }
  
  .Operations-container button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .Deposit {
    background-color: #4CAF50; 
    color: white;
  }
  
  .Deposit:hover {
    background-color: #45a049; 
  }
  
  .Withdraw {
    background-color: #f44336;
    color: white;
    margin-top: 5px; 
  }
  
  .Withdraw:hover {
    background-color: #da3830; 
  }
  
  .Operations-container p {
    margin-top: 15px;
  }
  